//  ------------ HEADER AND NAV STYLES
.header {
  background-color: $transparent;
  padding: 1rem 1.5rem;
  position: absolute;
  z-index: 1000;
  transition: all 250ms linear;
}
.header-scrolled {
  padding: 0.5rem 1.5rem;
  background-color: $secondary-color;
  position: fixed;
  box-shadow: 0px 11px 47px -9px rgba(0, 0, 0, 0.49);
}

#nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

//  ------------ MAIN BANNER STYLES

#banner {
  background: $main-color;
  height: 100vh;
  padding: 0;
}
// ------------  ABOUT ME STYLES

#about {
  background: $white-color;
}

//  ------------ PORTFOLIO STYLES

#skills {
  background: #f7f7f7;
}

// ------------ PORTFOLIO STYLES

#work {
  background: $white-color;
}

.work-item {
  background-color: $main-color;
}
.work-img {
}

.work-text {
  padding: 0.5rem 1rem 2rem;
  h3 {
    color: $secondary-color;
  }
}
// ------------ FOOTER STYLES

#footer {
  background-color: $main-color;
  padding: 0 0 1rem 0;
}

#email {
  padding: 4rem 0;
  p {
    font-size: 1.2rem;
    color: $white-color;
    opacity: 0.5;
  }
  a {
    color: $white-color;
    font-size: 1.4rem;
    font-weight: 700;
    cursor: pointer;
    transition: background 250ms, color 250ms;
    &:hover {
      color: $secondary-color;
    }
  }
}
#final-footer {
  padding: 4rem 0 1rem 0;
  p {
    margin: 4rem 0 0 0;
  }
}
