//  ------------ HEADER AND NAV STYLES
.header {
  background-color: $transparent;
  padding: 1rem 1.5rem;
  position: absolute;
  z-index: 1000;
  transition: all 250ms linear;
}
.header-scrolled {
  position: fixed;
}

#nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

//  ------------ MAIN BANNER STYLES

#banner {
  background: $main-color;
  height: 100vh;
  padding: 0;
}
// ------------  ABOUT ME STYLES

#about {
  background: $white-color;
}

// ------------ PORTFOLIO STYLES

#work {
  background: $main-color;
  h2 {
    color: $white-color;
  }
}

.work-item {
  background-color: #222731;
  margin: 1rem 0;
  box-shadow: 0px 6px 43px -19px rgba(0, 0, 0, 0.75);
}
.work-img {
}

.work-text {
  padding: 0.5rem 1rem 2rem;
  h3 {
    color: $secondary-color;
  }
}

.tech-list {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  li {
    background: #6b6b6b42;
    color: $white-color;
    margin: 0rem 1rem 1rem 0;
    padding: 0.2rem 0.5rem;
    border-radius: 10%;
    font-weight: bold;
  }
}

//  ------------ SKILLS STYLES

#skills {
  background: $white-color;
}

// ------------ FOOTER STYLES

#footer {
  background-color: $main-color;
  padding: 0 0 1rem 0;
}

#email {
  padding: 4rem 0;
  p {
    font-size: 1.2rem;
    color: $white-color;
    opacity: 0.5;
  }
  a {
    color: $secondary-color;
    font-size: 1.4rem;
    font-weight: 700;
    cursor: pointer;
    transition: background 250ms, color 250ms;
    &:hover {
      color: $white-color;
    }
  }
}
#final-footer {
  padding: 4rem 0 1rem 0;
  p {
    margin: 4rem 0 0 0;
  }
}
