@include media-breakpoint-up(sm) {
  #banner {
    text-align: initial;
    h1 {
      font-size: 3rem;
    }
  }
  #email {
    a {
      font-size: 2rem;
    }
  }
}
@include media-breakpoint-up(md) {
  p {
    font-size: 1rem;
    line-height: 1.7rem;
  }

  section {
    padding: 8rem 0;
    h2 {
      font-size: 2.2rem;
    }
  }

  p {
    font-size: 1.1rem;
  }
  .nav-logo {
    width: 4.5rem;
  }
  .menu-square-scrolled {
    padding: 1rem;
    right: 0.5rem;
  }

  .banner-logo {
    left: -6rem;
    top: -20rem;
    height: initial;
    width: 77rem;
  }

  .work-text {
    padding: 0.5rem 2rem 2rem;
  }

  .fa-tool {
    font-size: 5rem;
  }

  #email {
    a {
      font-size: 2.6rem;
    }
  }

  #footer {
    padding: 2rem 0 1rem 0;
  }
}
@include media-breakpoint-up(lg) {
  #banner {
    h1 {
      font-size: 4.5rem;
    }
  }

  #footer {
    padding: 3rem 0 1rem 0;
  }
}
