@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,600,700&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
}

p {
  color: $grey-color;
  font-size: 1.2rem;
  line-height: 1.7rem;
}
